<!-- /templates/pages/clothing.html -->

<!-- {% extends "includes/base_site.html" %} -->
{% load static %}
{% block title %} Clothing{% endblock %}

{% block content %}
<div role="region" aria-label="clothing" class="ins-tile ins-tile--cta ins-tile--story-right ins-tile--has-image ins-tile--same-prev-background" id="tile-call-to-action-NrWbGx">
    <div>
        <!--[-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--]-->
    </div>
    <style>
    #tile-call-to-action-NrWbGx {
        --background-gradient-color-from-a: 0;
        --background-gradient-color-to-a: 0;
        --background-solid-color-a: 1;
        --background-solid-color-b: 1;
        --background-solid-color-h: 21.99999999999999;
        --background-solid-color-l: 100%;
        --background-solid-color-s: 0%;
        --button-color-a: 1;
        --button-color-b: 0.5137254901960784;
        --button-color-h: 9.193548387096776;
        --button-color-l: 51.37254901960784%;
        --button-color-s: 100%;
        --description-font-size: 18px;
        --description-font-style: normal;
        --description-font-weight: 400;
        --description-text-color-a: 1;
        --description-text-color-b: 0.09803921569;
        --description-text-color-h: 0;
        --description-text-color-l: 9.803921569%;
        --description-text-color-s: 0%;
        --image-aspect-ratio: 100%;
        --title-font-size: 64px;
        --title-font-style: normal;
        --title-font-weight: 700;
        --title-text-color-a: 1;
        --title-text-color-b: 0.09803921569;
        --title-text-color-h: 0;
        --title-text-color-l: 9.803921569%;
        --title-text-color-s: 0%;
    }
    </style>
    <div class="ins-tile__wrap ins-tile__animated">
        <div class="ins-tile__image">
            <div style="background-color:rgba(0, 0, 0, 0);" class="ins-tile__picture">
                <picture class="ins-picture ins-picture--full ins-picture--contain">
                    <!--[-->
                    <source srcset="{% static 'images/sjDK0jw-1200x1200.webp' %}, {% static 'images/sjDK0jw-2000x2000.webp' %} 2x" media="(min-width: 500px)" type="image/webp">
                    <source srcset="{% static 'images/sjDK0jw-600x600.webp' %}, {% static 'images/sjDK0jw-1200x1200.webp' %} 2x" type="image/webp">
                    <!--]-->
                    <!--[-->
                    <source srcset="{% static 'images/sjDK0jw-1200x1200.png' %}, {% static 'images/sjDK0jw-2000x2000.png' %} 2x" media="(min-width: 500px)">
                    <source srcset="{% static 'images/sjDK0jw-600x600.png' %}, {% static 'images/sjDK0jw-1200x1200.png' %} 2x">
                    <!--]-->
                    <img src="{% static 'images/sjDK0jw-200x200.png' %}" alt=""  onload="">
                </picture>
                <!---->
            </div>
        </div>
        <div class="ins-tile__body">
            <div class="ins-tile__body-inner">
                <h2 class="ins-tile__title">clothing</h2>
                <div role="heading" aria-level="2" class="ins-tile__description ins-tile__format">Introducing our latest collection: a curated selection of seasonal fashion trends to elevate your style game.

                ናይ ወቕታዊ ዝመጹ ትሕስቶ ምልላይ: ቅዲ ስታይክኩም ልዕል ንምባል ዝተዳለወ ምርጫ ፋሽን ትረንድስ።</div>
                <div class="ins-button-wrap ins-tile__button" preview-mode="false">
                    <a tabindex="0" role="button" href="{% url 'product_list' %}" target="_self" aria-label="Shop now" class="ins-control ins-control--button ins-control--outline ins-control--medium ins-control--pill">
                        <div class="ins-control__button">
                            <div class="ins-control__wrap">
                                <div class="ins-control__text">Shop now</div>
                            </div>
                        </div>
                    </a>
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
</div>

{% endblock %}