<!-- /templates/pages/delivery.html -->

<!-- {% extends "includes/base_site.html" %} -->
{% load static %}
{% block title %}Delivery{% endblock %}

{% block content %}

<div role="region" aria-label="Delivery." class="ins-tile ins-tile--text ins-tile--title-left" id="tile-text-5rVW7e" tile-type="TEXT" tile-id="text-5rVW7e" tile-index-in-list="6">
    <div>
        <!--[-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--]-->
    </div>
    <style>
    #tile-text-5rVW7e {
        --background-gradient-color-from-a: 0;
        --background-gradient-color-to-a: 0;
        --background-solid-color-a: 1;
        --background-solid-color-b: 0.9254901960784314;
        --background-solid-color-h: 0;
        --background-solid-color-l: 92.54901960784314%;
        --background-solid-color-s: 0%;
        --description-font-style: normal;
        --description-font-weight: 400;
        --subtitle-font-size: 30px;
        --subtitle-font-style: italic;
        --subtitle-font-weight: 400;
        --title-font-size: 64px;
        --title-font-style: normal;
        --title-font-weight: 700;
    }
    </style>
    <div class="ins-tile__wrap ins-tile__animated">
        <h2 class="ins-tile__title">Delivery.              </h2>
        <div role="heading" aria-level="2" class="ins-tile__subtitle ins-tile__format">ንብረትኩም ምብጻሕ</div>
        <div class="ins-tile__description ins-tile__format">To deliver your favorite products, we have partnered with the most reliable companies. We are ready to entrust them with your orders and are always on your side if something goes wrong.


        ትፈትውዎ ንብረት ንምቕራብ ምስቶም ኣዝዮም እሙናት ኩባንያታት ሽርክነት ፈጢርና ኣለና። ትእዛዝኩም ብሓላፍነት ክንህቦም ድሉዋት ኢና፡ ገለ ነገር እንተተጋግዩ ድማ ኩሉ ግዜ ኣብ ጎንኹም ኮንና ፍታሕ ከነናዲ ኢና።</div>
    </div>
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
</div>
<div role="region" aria-label="returns" class="ins-tile ins-tile--text ins-tile--title-left ins-tile--same-prev-background" id="tile-text-jHU68d" tile-type="TEXT" tile-id="text-jHU68d" tile-index-in-list="7">
    <div>
        <!--[-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--[-->
        <!---->
        <!--]-->
        <!--]-->
    </div>
    <style>
    #tile-text-jHU68d {
        --background-gradient-color-from-a: 0;
        --background-gradient-color-to-a: 0;
        --background-solid-color-a: 1;
        --background-solid-color-b: 0.9254901960784314;
        --background-solid-color-h: 0;
        --background-solid-color-l: 92.54901960784314%;
        --background-solid-color-s: 0%;
        --description-font-style: normal;
        --description-font-weight: 400;
        --subtitle-font-size: 18px;
        --subtitle-font-style: italic;
        --subtitle-font-weight: 400;
        --title-font-size: 64px;
        --title-font-style: normal;
        --title-font-weight: 700;
    }
    </style>
    <div class="ins-tile__wrap ins-tile__animated">
        <h2 class="ins-tile__title">returns</h2>
        <div role="heading" aria-level="2" class="ins-tile__subtitle ins-tile__format">ምምላስ </div>
        <div class="ins-tile__description ins-tile__format">We will be happy to assist you with eligible returns, the return instructions, and the shipping address.  We only offers refunds for damaged or incorrectly  shipped products, send us an email so we can discuss a replacement.

        ንዝተበላሸወ ወይ ብጌጋ ዝተሰደደ ንብረት ጥራይ እዩ ምምላስ ገንዘብ ዝህብ፣ መጀመርታ ነቲ ዝደለኹሞ ንብረት ክትዕድጉዎ ከለኹም ብጥንቓቐ ኣስተብሂልኩም ክትዕድግዎ ይምሕጸን። ብዝተኸኣለ መጠን ንዓማዊል ዝከኣል ምትሕብባር ክንገብር ክንፍትን ኢና።</div>
    </div>
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
    <!--[-->
    <!--]-->
</div>

{% endblock %}
