<!-- /templates/pages/index.html-->
 
{% extends "includes/base_site.html" %}
{% load static %}

{% block title %}Selsa Online Store{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
  {% include 'pages/intro.html' %}
  {% include 'pages/about.html' %}
  {% include 'pages/coming_soon.html' %}
  {% include 'pages/clothing.html' %}
  {% include 'pages/new_collection.html' %}
  {% include 'pages/delivery.html' %}
  {% include 'pages/services.html' %}
  {% include 'pages/Contact.html' %}
{% endblock %}

{% block location %}

{% endblock %}
